body{
  background-color: #ecebbd;
  font-family: 'Dosis', sans-serif;
  color: brown;
  text-align: center;
}

header>h1{
  font-size:40px;
} 
h2{
  font-size:35px;
}
div,p{
  font-size: 30px;
}

button{
  margin-top: 10px;
  font-size: 23px;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 30px;
}

input{
  width: 250px;
  height: 40px;
  font-size: 25px;
}

a{
  color: brown;
  text-decoration: none;
}

#error-show>li{
  list-style-type: none;
  font-size: 25px;
  margin-right: 50px;
  color: red;
}

#history-link,#home-link{
  font-size: 20px;
  border-style: dashed;
  padding: 5px;
}


#animal-description{
  border-style: dashed;
}

#win-message{
  font-size: 25px;
  margin-top: 10px;
  color: green;
}

#lose-message{
  font-size: 25px;
  margin-top: 10px;
  color: red;
}

#round-container{
  margin: 10px;
}